<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zenkit.location_kit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <!-- Empty application tag - location_kit doesn't need an application -->
    </application>
</manifest>
